@font-face {
    font-family: "Coraline";
    src: url(../fuentes/Coraline.ttf);
}
@font-face {
    font-family: "October";
    src: url(../fuentes/October.ttf);
}
.griffy-regular {
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --color-uno: #3b3bb4;
    --color-dos: #dae9e8;
    --color-tres: #0c0d11;
    --color-cuatro: #556661; 
    --color-texto:#eeeeee ;
    --color-texto-secundario: #000000;
    --fuente-titulo: "Coraline";
    --fuente-subtitulo: "October";
    --fuente: "Griffy";
    --fuente-extra: "Coral Pixels";
    
    --ancho-imagen: 30rem;
    --alto-imagen: 15rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body y generales*/
body{
    font-family: var(--fuente);
    background-color: var(--color-tres);
    color: var(--color-texto);
}
img{
    width: var(--ancho-imagen);
    height: var(--alto-imagen);
}
a{
    text-decoration: none;
    color: var(--color-texto-secundario);
}
a:hover{
    color: var(--color-texto-secundario);
}

h1{
    font-family: var(--fuente-titulo);
}
strong{
    font-family: var(--fuente-extra);
}

/*cuerpo general*/
header{
    text-align: center;    
    padding: 8rem 0;
    margin: 0;
    border: 0;
}
main{
    background-color: var(--color-cuatro);
    color: var(--color-texto-secundario);
    padding: 2rem 1rem;
}
footer{
    background-color: var(--color-uno);
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}

/* nav */
nav{
    display: flex;
    background-color: var(--color-uno);
    font-family: var(--fuente-subtitulo);
    width: 100%;
    flex: 1;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    padding: 1em 3em;
    color: var(--color-texto);
}
nav a:hover{
    background-color: var(--color-dos);
}
#nav-principal{
    justify-content: space-between;
}
#nav-principal img{
    width: 4rem;
    height: 4rem;
}
#nav-secundario{
    justify-content: center;
    padding: 1rem;
}


#cuerpo{
    max-width: 100vh;
    margin: 0 auto;
}
#historia{
    border: 12px;
    border-color: var(--color-tres);
}
